.login {
    position: fixed;
    top: 40%;
    left: 50%;
    width: 500px;
    height: 300px;
    padding: 50px;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    box-shadow: 0 5px 20px rgb(18 18 18 / 10%);
    background-color: #ffffff
}

.ant-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

